<mat-tab-group backgroundColor="primary" color="accent">
  <mat-tab label="Main">
    <app-contacts></app-contacts>
  </mat-tab>
  <mat-tab label="About">
    <app-about></app-about>
  </mat-tab>
</mat-tab-group>
